{% import '_includes/forms.twig' as forms %}
<div>
  {{ forms.lightswitchField({
    label: 'Display nested related elements',
    instructions: 'Whether to display the related elements that exist inside the Matrix or Neo fields of an entry, category or asset.',
    name: 'enableNestedElements',
    value: settings.enableNestedElements,
    on: (settings.enableNestedElements is defined) ? settings.enableNestedElements : '',
    class: 'first',
  }) }}

  {{ forms.textField({
    label: 'Initial limit',
    instructions: 'Number of related elements to show initially before requiring "Show More" to expand the list.',
    name: 'initialLimit',
    value: settings.initialLimit,
    type: 'number',
    min: 1,
    max: 100,
    size: 10,
  }) }}
</div>

