{% import '_includes/forms.twig' as forms %}

{# Check for config file overrides #}
{% set configFileSettings = craft.app.config.getConfigFromFile('related-elements') %}

<div>
  {{ forms.lightswitchField({
    label: 'Display nested related elements',
    instructions: 'Whether to display the related elements that exist inside the Matrix or Neo fields of an entry, category or asset.',
    name: 'enableNestedElements',
    value: settings.enableNestedElements,
    on: (settings.enableNestedElements is defined) ? settings.enableNestedElements : '',
    class: 'first',
    warning: configFileSettings.enableNestedElements is defined ? 'This setting is being overridden by the "enableNestedElements" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.enableNestedElements is defined,
  }) }}

  {{ forms.textField({
    label: 'Initial limit',
    instructions: 'Number of related elements to show initially before requiring "Show More" to expand the list.',
    name: 'initialLimit',
    value: settings.initialLimit,
    type: 'number',
    min: 1,
    max: 100,
    size: 10,
    warning: configFileSettings.initialLimit is defined ? 'This setting is being overridden by the "initialLimit" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.initialLimit is defined,
  }) }}
</div>

